<?xml version="1.0" ?>
<model>
    <name>rov_starting_point</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>David Felsager</name>
        <email>201904960@post.au.dk</email>
    </author>
    <description>Starting point for simulating a 6 DOF remotely operated vehicle for underwater propeller cleaning</description>
</model>